In [95]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cafe-sales-dirty-data-for-cleaning-training/dirty_cafe_sales.csv

In [96]:
df_original = pd.read_csv("/kaggle/input/cafe-sales-dirty-data-for-cleaning-training/dirty_cafe_sales.csv")
df_original.shape

(10000, 8)

In [97]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [98]:
df_original.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [99]:
df_original.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [100]:
df = df_original.copy()

In [101]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [102]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [103]:
df['Item'] = df['Item'].replace(
    ['UNKNOWN', 'ERROR'],
    'Unknown'
)
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Unknown',
       'Sandwich', nan, 'Juice', 'Tea'], dtype=object)

In [104]:
df['Item'] = df['Item'].fillna("Unknown")
df['Item'].apply(type).value_counts()

Item
<class 'str'>    10000
Name: count, dtype: int64

In [105]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Unknown',
       'Sandwich', 'Juice', 'Tea'], dtype=object)

In [106]:
df['Item'].isna().value_counts()

Item
False    10000
Name: count, dtype: int64

In [107]:
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [108]:
df['Quantity'] = df['Quantity'].replace(
    ['ERROR', 'UNKNOWN'],
    np.nan
)
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', nan], dtype=object)

In [109]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [110]:
df['Price Per Unit'] = df['Price Per Unit'].replace(
    ['ERROR', 'UNKNOWN'],
    np.nan
)
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan], dtype=object)

In [111]:
df['Total Spent'].unique()

array(['4.0', '12.0', 'ERROR', '10.0', '20.0', '9.0', '16.0', '15.0',
       '25.0', '8.0', '5.0', '3.0', '6.0', nan, 'UNKNOWN', '2.0', '1.0',
       '7.5', '4.5', '1.5'], dtype=object)

In [112]:
df['Total Spent'] = df['Total Spent'].replace(
    ['ERROR', 'UNKNOWN'],
    np.nan
)

df['Total Spent'].unique()

array(['4.0', '12.0', nan, '10.0', '20.0', '9.0', '16.0', '15.0', '25.0',
       '8.0', '5.0', '3.0', '6.0', '2.0', '1.0', '7.5', '4.5', '1.5'],
      dtype=object)

In [113]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [114]:
df['Payment Method'] = df['Payment Method'].fillna('Unknown')
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR',
       'Unknown'], dtype=object)

In [115]:
df['Payment Method'] = df['Payment Method'].replace(
    ['ERROR', 'UNKNOWN'],
    'Unknown'
)
df['Item'].apply(type).value_counts()

Item
<class 'str'>    10000
Name: count, dtype: int64

In [116]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [117]:
df['Location'] = df['Location'].fillna('Unknown')
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', 'Unknown', 'ERROR'],
      dtype=object)

In [118]:
df['Location'] = df['Location'].replace(
    ['ERROR', 'UNKNOWN'],
    'Unknown'
)
df['Location'].apply(type).value_counts()

Location
<class 'str'>    10000
Name: count, dtype: int64

In [119]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'Unknown'], dtype=object)

In [120]:
df['Transaction Date'].unique()

array(['2023-09-08', '2023-05-16', '2023-07-19', '2023-04-27',
       '2023-06-11', '2023-03-31', '2023-10-06', '2023-10-28',
       '2023-07-28', '2023-12-31', '2023-11-07', 'ERROR', '2023-05-03',
       '2023-06-01', '2023-03-21', '2023-11-15', '2023-06-10',
       '2023-02-24', '2023-03-25', '2023-01-15', '2023-04-04',
       '2023-03-30', '2023-12-01', '2023-09-18', '2023-06-03',
       '2023-12-13', '2023-04-20', '2023-04-10', '2023-03-11',
       '2023-06-02', '2023-11-06', '2023-08-15', '2023-10-09',
       '2023-05-28', '2023-07-17', '2023-04-29', '2023-06-08',
       '2023-06-29', '2023-04-17', '2023-12-22', '2023-01-10',
       '2023-10-02', '2023-02-23', '2023-03-22', '2023-11-03',
       '2023-03-02', '2023-06-26', '2023-05-02', '2023-09-05',
       '2023-01-08', '2023-03-15', '2023-11-25', '2023-12-05',
       '2023-03-19', '2023-06-27', '2023-04-19', '2023-10-07',
       '2023-09-30', '2023-05-27', '2023-11-18', '2023-10-20',
       '2023-10-03', '2023-10-27', '2023-04-06', '2023-01-31',
       '2023-12-08', '2023-06-19', '2023-12-14', '2023-07-16',
       '2023-02-22', nan, '2023-06-15', '2023-12-09', '2023-04-18',
       '2023-10-29', '2023-04-30', '2023-04-02', '2023-05-24',
       '2023-03-12', '2023-08-16', '2023-09-10', '2023-03-07',
       '2023-08-07', '2023-08-20', '2023-04-15', '2023-07-25',
       '2023-10-30', '2023-12-15', '2023-02-25', '2023-04-03',
       '2023-10-08', '2023-12-28', '2023-08-30', '2023-02-03',
       '2023-09-12', '2023-05-04', '2023-02-21', 'UNKNOWN', '2023-03-16',
       '2023-02-06', '2023-03-29', '2023-06-18', '2023-09-23',
       '2023-01-14', '2023-09-14', '2023-09-16', '2023-04-08',
       '2023-12-19', '2023-07-14', '2023-12-12', '2023-01-05',
       '2023-01-23', '2023-02-20', '2023-12-06', '2023-05-31',
       '2023-08-11', '2023-09-03', '2023-07-11', '2023-06-06',
       '2023-01-18', '2023-03-23', '2023-01-04', '2023-06-23',
       '2023-08-03', '2023-07-12', '2023-11-02', '2023-07-31',
       '2023-09-19', '2023-02-09', '2023-09-04', '2023-05-21',
       '2023-07-02', '2023-07-10', '2023-11-21', '2023-12-02',
       '2023-03-13', '2023-08-12', '2023-02-16', '2023-04-11',
       '2023-03-26', '2023-11-01', '2023-07-22', '2023-07-26',
       '2023-02-28', '2023-01-27', '2023-01-19', '2023-04-07',
       '2023-03-20', '2023-12-27', '2023-10-26', '2023-02-18',
       '2023-05-15', '2023-12-10', '2023-04-21', '2023-02-04',
       '2023-11-12', '2023-08-05', '2023-05-10', '2023-07-15',
       '2023-01-11', '2023-10-01', '2023-04-26', '2023-08-25',
       '2023-03-01', '2023-11-13', '2023-07-09', '2023-05-13',
       '2023-05-18', '2023-01-17', '2023-09-22', '2023-08-22',
       '2023-07-27', '2023-12-30', '2023-12-21', '2023-09-28',
       '2023-11-16', '2023-04-14', '2023-01-03', '2023-01-12',
       '2023-08-31', '2023-07-07', '2023-09-15', '2023-10-21',
       '2023-09-02', '2023-08-19', '2023-01-06', '2023-10-13',
       '2023-05-29', '2023-05-22', '2023-11-23', '2023-10-15',
       '2023-11-14', '2023-11-26', '2023-12-17', '2023-05-09',
       '2023-10-22', '2023-06-30', '2023-04-25', '2023-02-19',
       '2023-12-11', '2023-10-12', '2023-07-04', '2023-01-28',
       '2023-10-04', '2023-02-26', '2023-10-11', '2023-02-14',
       '2023-04-28', '2023-09-06', '2023-04-23', '2023-01-22',
       '2023-03-10', '2023-01-09', '2023-12-03', '2023-08-06',
       '2023-12-29', '2023-02-15', '2023-05-25', '2023-10-31',
       '2023-02-27', '2023-03-03', '2023-09-27', '2023-08-18',
       '2023-12-16', '2023-06-07', '2023-05-12', '2023-07-06',
       '2023-06-20', '2023-08-09', '2023-05-14', '2023-07-18',
       '2023-10-10', '2023-02-02', '2023-08-14', '2023-09-26',
       '2023-01-13', '2023-10-16', '2023-11-17', '2023-12-20',
       '2023-12-04', '2023-02-08', '2023-09-11', '2023-02-01',
       '2023-02-12', '2023-03-14', '2023-09-29', '2023-04-22',
       '2023-06-13', '2023-12-24', '2023-03-28', '2023-03-06',
       '2023-02-11', '2023-01-30', '2023-04-09', '2023-04-16',
       '2023-12-23', '2023-03-05', '2023-03-24', '2023-07-23',
       '2023-07-29', '2023-06-05', '2023-10-19', '2023-01-07',
       '2023-11-29', '2023-07-05', '2023-07-20', '2023-05-07',
       '2023-08-10', '2023-10-24', '2023-08-13', '2023-08-28',
       '2023-06-21', '2023-11-10', '2023-10-18', '2023-05-19',
       '2023-11-09', '2023-06-24', '2023-05-11', '2023-12-07',
       '2023-09-01', '2023-09-25', '2023-06-22', '2023-05-30',
       '2023-04-24', '2023-09-20', '2023-02-07', '2023-05-05',
       '2023-02-10', '2023-11-24', '2023-10-25', '2023-10-05',
       '2023-07-21', '2023-07-08', '2023-03-17', '2023-10-14',
       '2023-06-28', '2023-09-09', '2023-08-21', '2023-07-01',
       '2023-06-14', '2023-03-09', '2023-11-08', '2023-12-26',
       '2023-09-13', '2023-05-23', '2023-08-24', '2023-04-01',
       '2023-06-09', '2023-08-23', '2023-08-08', '2023-08-27',
       '2023-05-26', '2023-06-16', '2023-12-25', '2023-01-25',
       '2023-10-23', '2023-05-06', '2023-01-29', '2023-08-29',
       '2023-01-01', '2023-07-24', '2023-04-12', '2023-12-18',
       '2023-09-21', '2023-05-01', '2023-02-05', '2023-01-24',
       '2023-01-02', '2023-06-12', '2023-01-16', '2023-10-17',
       '2023-03-04', '2023-06-17', '2023-03-18', '2023-08-26',
       '2023-05-17', '2023-11-22', '2023-08-17', '2023-11-19',
       '2023-11-27', '2023-06-04', '2023-09-17', '2023-11-04',
       '2023-11-28', '2023-06-25', '2023-04-13', '2023-01-26',
       '2023-08-04', '2023-05-08', '2023-11-20', '2023-07-13',
       '2023-09-24', '2023-01-21', '2023-03-08', '2023-09-07',
       '2023-11-30', '2023-08-02', '2023-04-05', '2023-08-01',
       '2023-01-20', '2023-11-11', '2023-02-13', '2023-07-30',
       '2023-02-17', '2023-05-20', '2023-11-05', '2023-03-27',
       '2023-07-03'], dtype=object)

In [121]:
df['Transaction Date'] = df['Transaction Date'].replace(
    ['ERROR', 'UNKNOWN'],
    pd.NaT
)

df['Transaction Date'] = pd.to_datetime(
    df['Transaction Date'],
    errors='coerce'
)

df['Transaction Date'].apply(type).value_counts()

Transaction Date
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    9540
<class 'pandas._libs.tslibs.nattype.NaTType'>          460
Name: count, dtype: int64

In [122]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity            479
Price Per Unit      533
Total Spent         502
Payment Method        0
Location              0
Transaction Date    460
dtype: int64

In [123]:
df['Transaction ID'].duplicated().sum()

np.int64(0)

In [124]:
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', nan], dtype=object)

In [125]:
df['Quantity_Inferred'] = df['Quantity'].isna()

In [126]:
df['Quantity'].apply(type).value_counts()

Quantity
<class 'str'>      9521
<class 'float'>     479
Name: count, dtype: int64

In [127]:

df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Quantity'].apply(type).value_counts()

Quantity
<class 'float'>    10000
Name: count, dtype: int64

In [128]:
df['Price Per Unit_Inferred'] = df['Price Per Unit'].isna()

In [129]:
df['Price Per Unit'].apply(type).value_counts()

Price Per Unit
<class 'str'>      9467
<class 'float'>     533
Name: count, dtype: int64

In [130]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Price Per Unit'].apply(type).value_counts()

Price Per Unit
<class 'float'>    10000
Name: count, dtype: int64

In [131]:
df['Total Spent_Inferred'] = df['Total Spent'].isna()

In [132]:
df['Total Spent'].apply(type).value_counts()

Total Spent
<class 'str'>      9498
<class 'float'>     502
Name: count, dtype: int64

In [133]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')
df['Total Spent'].apply(type).value_counts()

Total Spent
<class 'float'>    10000
Name: count, dtype: int64

In [134]:
#Inferring, Quantity based on Price Per Unit and Total Spent

mask_1 = (
    df['Total Spent'].notna() &
    df['Quantity'].isna() &
    df['Price Per Unit'].notna()
)

df.loc[mask_1, 'Quantity'] = (
    df.loc[mask_1, 'Total Spent'] / df.loc[mask_1, 'Price Per Unit']
)

df['Quantity'].isna().sum()

np.int64(38)

In [135]:
#Inferring Price Per Unit

mask_2 = (
    df['Total Spent'].notna() &
    df['Quantity'].notna() &
    df['Price Per Unit'].isna()
)

df.loc[mask_2, 'Price Per Unit'] = (
    df.loc[mask_2, 'Total Spent'] / df.loc[mask_2, 'Quantity']
)

df['Price Per Unit'].isna().sum()

np.int64(38)

In [136]:
#Inferring Total Spent
#Inferring Price Per Unit

mask_3 = (
    df['Total Spent'].isna() &
    df['Quantity'].notna() &
    df['Price Per Unit'].notna()
)

df.loc[mask_3, 'Total Spent'] = (
    df.loc[mask_3, 'Price Per Unit'] * df.loc[mask_3, 'Quantity']
)

df['Total Spent'].isna().sum()

np.int64(40)

In [137]:
df.isnull().sum()

Transaction ID               0
Item                         0
Quantity                    38
Price Per Unit              38
Total Spent                 40
Payment Method               0
Location                     0
Transaction Date           460
Quantity_Inferred            0
Price Per Unit_Inferred      0
Total Spent_Inferred         0
dtype: int64

In [138]:
df['Price Per Unit_Inferred'].unique()

array([False,  True])

In [139]:
mask_valid = df[['Quantity', 'Price Per Unit', 'Total Spent']].notna().all(axis=1)

tolerance = 0.01
df['Total_Spent_Valid'] = False  # default
df.loc[mask_valid, 'Total_Spent_Valid'] = (
    np.abs(df.loc[mask_valid, 'Quantity'] * df.loc[mask_valid, 'Price Per Unit'] - df.loc[mask_valid, 'Total Spent'])
    < tolerance
)

In [140]:
df['Total_Spent_Valid'].value_counts()
df[df['Total_Spent_Valid'] == False]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Quantity_Inferred,Price Per Unit_Inferred,Total Spent_Inferred,Total_Spent_Valid
65,TXN_4987129,Sandwich,3.0,NaN,NaN,Unknown,In-store,2023-10-20,False,True,True,False
236,TXN_8562645,Salad,NaN,5.0,NaN,Unknown,In-store,2023-05-18,True,False,True,False
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15,True,False,True,False
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,2023-12-30,True,True,False,False
641,TXN_2962976,Juice,NaN,3.0,NaN,Unknown,Unknown,2023-03-17,True,False,True,False
738,TXN_8696094,Sandwich,NaN,4.0,NaN,Unknown,Takeaway,2023-05-14,True,False,True,False
912,TXN_1575608,Sandwich,NaN,NaN,20.0,Unknown,Takeaway,2023-01-05,True,True,False,False
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,2023-03-07,True,True,False,False
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,NaT,True,True,False,False
1482,TXN_3593060,Smoothie,NaN,NaN,16.0,Cash,Unknown,2023-03-05,True,True,False,False
1674,TXN_9367492,Tea,2.0,NaN,NaN,Cash,In-store,2023-06-19,False,True,True,False
1761,TXN_3611851,Unknown,4.0,NaN,NaN,Credit Card,Unknown,2023-02-09,False,True,True,False
2229,TXN_8498613,Sandwich,2.0,NaN,NaN,Unknown,Unknown,2023-11-08,False,True,True,False
2289,TXN_7524977,Unknown,4.0,NaN,NaN,Unknown,Unknown,2023-12-09,False,True,True,False
2330,TXN_3849488,Salad,NaN,NaN,5.0,Unknown,In-store,2023-03-01,True,True,False,False
2585,TXN_1259340,Tea,3.0,NaN,NaN,Digital Wallet,Unknown,2023-02-24,False,True,True,False
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,Unknown,2023-12-01,True,False,True,False
3162,TXN_3577949,Cake,3.0,NaN,NaN,Unknown,Takeaway,2023-04-25,False,True,True,False
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06,True,False,True,False
3224,TXN_6297232,Coffee,NaN,2.0,NaN,Unknown,Unknown,2023-04-07,True,False,True,False
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25,True,False,True,False
3598,TXN_2857444,Smoothie,1.0,NaN,NaN,Cash,Takeaway,2023-05-10,False,True,True,False
3635,TXN_6177081,Cookie,NaN,NaN,1.0,Cash,Unknown,2023-07-26,True,True,False,False
3673,TXN_6500126,Smoothie,2.0,NaN,NaN,Unknown,Unknown,NaT,False,True,True,False
3779,TXN_7376255,Unknown,NaN,NaN,25.0,Unknown,In-store,2023-05-27,True,True,False,False
4021,TXN_6424202,Cookie,2.0,NaN,NaN,Credit Card,In-store,2023-11-20,False,True,True,False
4152,TXN_9646000,Unknown,2.0,NaN,NaN,Unknown,In-store,2023-12-14,False,True,True,False
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18,True,False,True,False
5639,TXN_6206792,Tea,NaN,NaN,6.0,Credit Card,Unknown,2023-10-13,True,True,False,False
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05,True,False,True,False
5845,TXN_8388462,Smoothie,NaN,NaN,8.0,Unknown,Takeaway,2023-08-19,True,True,False,False
6225,TXN_6859249,Cookie,NaN,NaN,2.0,Unknown,Unknown,NaT,True,True,False,False
6661,TXN_5308047,Cookie,NaN,NaN,1.0,Credit Card,Unknown,2023-10-28,True,True,False,False
6674,TXN_3071092,Coffee,NaN,NaN,4.0,Unknown,Unknown,2023-09-08,True,True,False,False
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,Unknown,2023-12-25,True,False,True,False
7035,TXN_8872984,Salad,5.0,NaN,NaN,Credit Card,In-store,2023-08-23,False,True,True,False
7230,TXN_5118799,Cookie,2.0,NaN,NaN,Cash,Takeaway,2023-04-23,False,True,True,False
7244,TXN_2253622,Sandwich,5.0,NaN,NaN,Digital Wallet,Takeaway,2023-09-30,False,True,True,False
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03,True,False,True,False
7568,TXN_3705445,Cookie,5.0,NaN,NaN,Cash,In-store,2023-09-13,False,True,True,False
7597,TXN_1082717,Unknown,NaN,NaN,9.0,Digital Wallet,In-store,2023-12-13,True,True,False,False
7686,TXN_6905143,Coffee,5.0,NaN,NaN,Cash,Unknown,2023-08-09,False,True,True,False
8021,TXN_2428781,Salad,NaN,5.0,NaN,Unknown,In-store,2023-05-09,True,False,True,False
8128,TXN_6105807,Smoothie,3.0,NaN,NaN,Credit Card,Takeaway,2023-01-18,False,True,True,False
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25,True,False,True,False
8465,TXN_9669616,Coffee,NaN,2.0,NaN,Unknown,Unknown,2023-06-03,True,False,True,False
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,Unknown,Takeaway,2023-09-11,True,False,True,False
8497,TXN_1525583,Sandwich,3.0,NaN,NaN,Cash,Takeaway,2023-05-20,False,True,True,False
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08,True,False,True,False
8669,TXN_7764304,Cake,NaN,NaN,3.0,Credit Card,Takeaway,2023-01-09,True,True,False,False
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04,True,False,True,False
8975,TXN_8077367,Tea,NaN,NaN,7.5,Credit Card,Unknown,2023-02-27,True,True,False,False
9212,TXN_7322317,Tea,1.0,NaN,NaN,Unknown,Unknown,2023-03-16,False,True,True,False
9464,TXN_5744797,Cake,NaN,NaN,3.0,Cash,In-store,2023-12-20,True,True,False,False
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18,True,False,True,False
9819,TXN_1208561,Unknown,NaN,NaN,20.0,Credit Card,Unknown,2023-08-19,True,True,False,False
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,Unknown,2023-01-15,True,False,True,False
9893,TXN_3809533,Juice,2.0,NaN,NaN,Digital Wallet,Takeaway,2023-02-02,False,True,True,False

In [141]:
df.to_csv("cleaned_data.csv", index=False)

In [142]:
df.to_csv("/kaggle/working/cleaned_data.csv", index=False)